.landing-page-container {
    margin-top: 10em;
}

.landing-page-search-btn {
    margin-top: 2em;
}

.landing-page--response-container {
    margin-top: 3em;
}

.search-bar-row {
    margin-top: 2em;
}