.login-page-container {
    margin-top: 8em;
}

.login-page-form-text {
    text-align: left;
}

.login-page-form-container {
    margin-top: 1em;
}

.other-signin-container {
    margin-top: 2em;
}

.sign-up-grid {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.image-text {
    color: white;
    margin-top: 8em;
    font-weight: bold;
    margin-left: 2em;
}
